<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable" version="3.3.0" targetFramework="net452" />
  <package id="FubarCoder.RestSharp.Portable.Core" version="3.3.0" targetFramework="net452" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="3.3.0" targetFramework="net452" />
  <package id="FubarCoder.RestSharp.Portable.WebRequest" version="3.3.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
</packages>